*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background: url('../images/background.jpg') no-repeat center center/cover;
}




/* main page styling starts */

.container{
    /* position: relative; */
    margin-top: 4rem;
    /* height: 1400px; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.container-content{
    width: 90%;
    align-items: center;
}
/* section::before{
    content: "";
    background: url('../images/background.jpg');
} */

h1{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    text-shadow: 4px 4px 20px #fff;
}
.search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    padding: 70px 40px;
}
.search input{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
}
::placeholder{
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin-left: 70px;
    margin-bottom: 40px;
}

.card img{
    height: 200px;
    margin-top: 8px;
    border-radius: 8px;
}

.disp{
    display: none;
}